@page "/"
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using SysML_Sync
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (_signInManager.IsSignedIn(authState.User))
        {
            user = await _userManager.FindByIdAsync(userId);
        }
        else
        {
            // User is not authenticated, redirect to login page
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    }
}


<PageTitle>Profile</PageTitle>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
                        <li class="breadcrumb-item"><a href="#">Benutzer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Benutzerprofil</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@user?.Firstname @user?.Lastname</h5>
                        <p class="text-muted mb-1">Full Stack Entwickler</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Folgen</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Nachricht</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Vorname</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user?.Firstname</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nachname</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user?.Lastname</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">E-Mail</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user?.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ort</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user?.Ort</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">PLZ</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user?.PLZ</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adresse</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
